#main-menu-links {
    padding-top:5px;
    -moz-border-top-left-radius: 15px;
    -moz-border-top-right-radius: 15px;
    border-top-left-radius:  15px;
    border-top-right-radius:  15px;
}
#main-menu-links  li  {display:inline-block;}
#main-menu-links  li ul {display:none;}
#main-menu-links  li:hover ul {margin-left:-40px;margin-top:30px;display:block;position:absolute;width:150px;z-index:10;}
#main-menu-links li:hover ul li {display:block;width:150px;background-color:#ded;color:black;}
#main-menu-links li:hover ul li a{display:block;width:150px;background-color:#ded;color:black;  border-top-left-radius: 0px;border-top-right-radius: 0px;}
